$blue: rgb(73, 186, 242);

.CtrlK {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  -webkit-box-pack: center;
  z-index: 2;

  &__overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    opacity: 0.2;
    background: rgb(0, 0, 0);
    transition: opacity 300ms ease 0s;
  }

  &__container {
    user-select: text;
    position: relative;
    margin-top: 10vh;
    max-height: calc(100% - 20vh);
    width: calc((100% - 36px) - 36px);
    flex-shrink: 0;
    box-sizing: border-box;
    max-width: 576px;
    color: rgb(42, 49, 53);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    padding: 12px;
    overflow: auto;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220, 224, 226);
    border-image: initial;
    transition: transform 300ms ease 0s, opacity 300ms ease 0s;
  }

  &__input {
    display: block;
    appearance: none;
    color: rgb(42, 49, 53);
    font-family: inherit;
    font-size: 15px;
    line-height: 18px;
    -webkit-tap-highlight-color: transparent;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220, 224, 226);
    border-image: initial;
    outline: none;
    background: rgb(255, 255, 255);
    padding: 12.5px;
    height: 18px;

    &:focus {
      border-color: $blue;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__container--open {
  }
  &__input {
  }
  &__input--open {
  }
  &__input--focused {
  }
  &__suggestions-container {
  }
  &__suggestions-container--open {
  }
  &__suggestions-list {
    padding: 0;
  }
  &__suggestion {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px 32px;
    cursor: pointer;

    &:hover {
      .CtrlK__parent-content {
        color: rgb(255, 255, 255);
        opacity: 0.6;
      }
    }
  }

  &__parent-content {
    color: rgb(183, 188, 191);
    font-size: 13px;
    padding-bottom: 6px;
    overflow-x: auto;
  }
  &__suggestion-content {
    display: flex;

    &--rtl-semi {
      flex-direction: row-reverse;
      align-self: flex-start;

      .CtrlK__part {
        direction: rtl;
      }
    }
  }
  &__part {
    white-space: pre;

    &--match {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &__suggestion--first {
  }
  &__suggestion--highlighted {
    background-color: $blue;
    border-radius: 3px;
  }
  &__section-container {
  }
  &__section-container--first {
  }
  &__section-title {
  }
}
